.events {
	margin-top: 175px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	&:after {
		content: "";
		display: block;
		height: 0;
	}
}
