.header {
	color: $white;
	background: $bgBlue;
	padding: 0 64px;
	height: 96px;

	&__inner {
		max-width: $contentWidth;
		display: flex;
		align-items: center;
		height: 100%;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}
