.button {
	display: block;
	border: 4px solid $blue;
	color: $blue;
	background: $white;
	font-size: 26px;
	line-height: 48px;
	text-align: center;
	width: 528px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;

	&:hover {
		color: $white;
		background: $blue;
	}

	&:active {
		color: $white;
		background: $deepBlue;
		border-color: $deepBlue;
	}
}
