body {
	font-size: 15px;
	line-height: 21px;
	font-family: $OpenSans;
	color: $black;
	min-width: 960px;
}
body * {
	box-sizing: border-box;
}

h1,
h2 {
	font-size: 64px;
	line-height: 72px;
	color: $headerGray;
	margin: 0;
}

h3 {
	font-size: 30px;
	line-height: 32px;
	color: $headerGray;
}

h4 {
	font-size: 20px;
	line-height: 20px;
	color: $white;
}

ul {
	list-style: none;
}
