/*
	COLORS
*/

$blue: #005bff;
$deepBlue: #0049c7;
$white: #fff;
$bgGray: #f1f1f1;
$bgBlue: #005bff;
$headerGray: #4f4f4f;
$black: #000;

/*
	/COLORS
*/

/* FONTS */

$OpenSans: "Open Sans", "Arail", sans-serif;

/* /FONTS */

/* BOX */

$contentWidth: 1310px;
